body 			{
					margin:0;
				}


#h_title		{
					padding-top: .5%;
					font-family: "Verdana";
					text-shadow: 1px 1px 2px #99bbff;
					text-align: center;
					color: #333;
					background-color: #e6e6e6;
				}

#h_title h1		{
					/*
					All that effort to look cheesy
					margin: 1em auto;
  					background: -webkit-gradient(linear, left top, left bottom,
    				from(#fff), color-stop(50%, #777), color-stop(50%, #666), to(#111));
  					background: -webkit-linear-gradient(middle, #fff, #777 50%, #666 50%, #111);
  					background:         linear-gradient(middle, #fff, #777 50%, #666 50%, #111);
                    -webkit-background-clip: text;
  					background-clip: text;
  					color: transparent;
  					*/
  					font-family: "Verdana";
  					color: #404040;
  					font-size: 2.5em;
				}

#h_title img	{
					border-radius: 5pt 5pt 5pt 5pt;
					/*
					border-style: outset;
					border-color: #ffff80;
					*/
				}

.topnav 		{
  					overflow: hidden;
  					background-color: #e6e6e6;
  					padding-left: 15%;
  					font-family: Helvetica;
  				}

.topnav a		{
					float: left;
					display: block;
					color: #595959;
					text-align: : center;
					padding: 2% 3%;
					text-decoration: none;
					font-size: 1.4em;
				}

.topnav a:hover	{
					background-color: #ffffb3;
					color: black;
				}

.active			{
					background-color: #3399ff;
					color: white;
				}

.topnav .icon	{
					display: none;
				}


@media screen and (max-width: 720px) 
	{
  		.topnav a:not(:first-child) 
  		{
  			display: none;
  		}
  		.topnav a.icon 
  		{
   			float: right;
    		display: block;
  		}
	}

@media screen and (max-width: 720px)
	{
		.topnav.responsive {position: relative;}
		.topnav.responsive .icon
		{
			position: absolute;
			right: 0;
			top: 0;
		}
		.topnav.responsive a
		{
			float: none;
			display: block;
			text-align: left;
		}
	}

	@media screen and (max-width: 300px) 
	{
  		.topnav a:not(:first-child) 
  		{
  			display: none;
  		}
  		.topnav a.icon 
  		{
   			float: right;
    		display: block;
  		}
	}

@media screen and (max-width: 300px)
	{
		.topnav.responsive {position: relative;}
		.topnav.responsive .icon
		{
			position: absolute;
			right: 0;
			top: 0;
		}
		.topnav.responsive a
		{
			float: none;
			display: block;
			text-align: left;
		}
	}

@media screen and (max-width:720px)
{
  img.responsive {width: 200px;}
}

@media screen and (min-width:720px)
{
  img.responsive{width: 380px;}
}

@media screen and (max-width: -width:300px)
{
  img.responsive{width: 100px;}
}

img.responsive{height: auto;}